.flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    max-width: 600px;
    min-width: 200px;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 0 auto;
    background-color: blueviolet;   
    
}   

.flex__item {
    flex-basis: 34%;
    
    padding: 20px;
    border: 1px solid #ccc;
    background-color: blue; 
   
}

@media (max-width: 767px) { 
    .flex {
        flex-wrap: wrap;
    }    
    
    .flex__item {    
    flex-basis: 34%;
    flex-grow: 1;
    }
}

@media (max-width: 400px) { 
    .flex {
        flex-wrap: wrap;
    }    
    
    .flex__item {    
    flex-basis: 51%;
    flex-grow: 1;
    }
}