.list {
    margin-top: 20px;
    background-color: #fff;    
}

.list__title {
    font-size: 20px;
    border: 1px solid #ddd;
    padding-left: 20px;       
}

.list__tasks {
    font-size: 20px;
    border: 1px solid #ddd;
    margin: 0px auto;
    list-style: none;
    padding-top: 50px ;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.list__buttonDone {
    height: 30px;
    width: 20px;
    background-color: green;
}

.list__buttonDelete {
    height: 30px;
    width: 20px;
    background-color: red;
}

.list_singleTask {
    margin-bottom: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 100px;
    border-bottom: 2px solid #ddd; 
}

.grid {
    display: grid;
    padding-left: 0px;
    padding-right:0px;
    grid-template-columns: 55px 1fr 55px;
    gap: 10px;
}

.grid__item1 {    
    display: flex;
    padding-left: 10px;
    justify-content: flex-start;
    align-items: center; 
 }

 .grid__item2 {
    padding-left: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center; 
 }

 .grid__item2--textLine {
    text-decoration: line-through;
 }

 .grid__item3 {
    display: flex;
    padding-right: 10px;
    justify-content: flex-end;
    align-items: center; 
 }

 .flex {
    color:white;
    display: flex;
    justify-content: center;
    align-items: center; 
 }