html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: initial;
}

.container {
    margin: 0 auto;
    max-width: 900px;    
}

@media (max-width: 767px) {
    .container {
        margin: 0 auto;
        max-width: 370px;  
    }
}